.col-sm-3{
    margin-top: 20px;
    height: auto;

}

.col-sm{
    background-color: #F1EFDC;
    height: 100px;
    text-align: center;
    font-size: 40px;
}

.row{
}
.container{
}

.img{
    float: left;
}

.header{
    text-align: center;
    font-weight: bolder;
}